/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
}

@media (max-width:600px) {
  .container {
    width: 90%
  }
}

@media (min-width: 600px) {
  .container {
    width: 85%
  }
}

@media (min-width: 992px) {
  .container {
    width: 80%
  }
}

@media (min-width: 1200px) {
  .container {
    width: 75%
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

ul {
  list-style: none;
}

:root {
  --main-color: #2196F3;
  --main-color: #1787E0;
}

section {
  padding: 100px 0;
}

a {
  text-decoration: none;
}

.main-heading {
  text-transform: uppercase;
  font-size: 30px;
  width: fit-content;
  margin: 0 auto 100px;
  padding: 10px 20px;
  border: 2px solid black;
  position: relative;
  transition: 0.5s;
  z-index: 1;
}


.main-heading::before,
.main-heading::after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  z-index: -1;
}

.main-heading::before {
  left: -30px;
}

.main-heading::after {
  right: -30px;
}

.main-heading:hover::before {
  animation: leftmove 0.5s linear forwards;
}

.main-heading:hover::after {
  animation: rightmove 0.5s linear forwards;
}

@keyframes leftmove {
  50% {
    left: 0;
    width: 15px;
    height: 15px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@keyframes rightmove {
  50% {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 0;
  }

  100% {
    width: 51%;
    height: 100%;
    border-radius: 0%;
    right: 0;
  }
}

.main-heading:hover {
  transition-delay: 0.5s;
  color: white;
  border: 2px solid white;
}

/* navbar */

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;
  height: 73px;
}

nav .links>ul li a {
  display: block;
  color: black;
  font-size: 20px;
  padding: 25px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
}

nav h1 {
  margin: 0;
  padding: 0 15px;
  color: var(--main-color);
}


nav .links>ul li a::before {
  content: '';
  width: 100%;
  height: 5px;
  top: 0;
  left: -100%;
  transition: 0.5s;
  position: absolute;
  background-color: var(--main-color);
}


nav .links>ul li a:hover {
  background-color: #FAFAFA;
  color: var(--main-color);
}

nav .links>ul li a:hover::before {
  left: 0;
}


nav .links>ul {
  display: flex;
  justify-content: space-between;
}


nav .mega {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: 200px;
  justify-content: space-between;
  border-bottom: 3px solid var(--main-color);
  border-top: 1px solid #eee;
  padding: 50px 25px;
  opacity: 0;
  transition: 0.5s;
  z-index: 0;
  overflow: hidden;
  background-color: white;
}

nav .mega img {
  width: 40%;
}

nav .mega ul li a {
  text-align: left;
  min-width: 300px;
  padding: 15px 0;
  position: relative;
  z-index: 1;
}

nav .mega ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

nav .mega ul li a i {
  margin: 0 10px;
}

nav .mega ul li a:hover::before {
  left: 0;
}

nav .mega ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  transition: 0.5s;
  z-index: -1;
}

nav .mega ul li a:hover {
  background-color: white;
}

nav .mega ul li a,
nav .mega ul li i {
  color: var(--main-color);
  background-color: white;
}

nav .links>ul li:last-child:hover .mega {
  opacity: 1;
  top: 73px;
  z-index: 5;
}

@media (max-width:768px) {
  nav .container {
    flex-direction: column;
  }

  nav h1 {
    font-size: 25px;
    margin: 5px;
  }

  nav .links>ul li a {
    font-size: 16px;
    padding: 10px;
  }

  nav .links>ul li a::before {
    height: 3px;
  }

  nav .mega ul li a::before {
    height: 100%
  }

  nav .links>ul li:last-child:hover .mega {
    opacity: 1;
    top: 73px;
  }

  nav .mega ul:first-of-type li:last-child {
    border-bottom: 1px solid #ddd;
  }

  nav .mega {
    padding: 0;
    flex-direction: column;
  }

}

@media (max-width:991px) {
  nav .mega img {
    display: none;
  }
}

/* Header */

header {
  position: relative;
  height: calc(100vh - 73px);
  overflow: hidden;
  z-index: 1;

}

header::before {
  content: '';
  position: absolute;
  top: -115px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
  z-index: -1;
  transform: skewY(-6deg);
}

header img {
  width: 600px;
  position: relative;
  animation: upanddown 5s infinite;
}

header .container {
  padding: 100px 0;
  display: flex;
  align-items: center;
}

header h2 {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}

header p {
  color: #777;
  font-size: 25px;
  line-height: 1.5;
}

header i {
  color: var(--main-color);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}

@keyframes upanddown {

  0% {
    top: -50px;
  }

  50% {
    top: 0;
  }

  100% {
    top: -50px;
  }
}



@media (max-width:768px) {
  header h2 {
    font-size: 25px;
  }

  header p {
    font-size: 20px;
    margin-bottom: 50px;
  }

  header img {
    width: 500px
  }
}

@media (max-width:400px) {
  header img {
    width: 300px
  }
}

@media (max-width:1199px) {
  header .container {
    flex-direction: column;
    padding: 50px 0;
  }

  header .text {
    text-align: center;
    margin-bottom: 25px
  }
}


/* Articles */

.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

.card-holder .card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: 0.5s;

}

.card-holder .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.card-holder .card img {
  width: 100%;
  max-width: 100%;
}

.card-holder .card .text {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.card-holder .card .text p {
  margin: 10px 0;
  color: #777;
  line-height: 1.5;
}

.card-holder .card .read {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.card-holder .card:hover .read i {
  animation: slideInLeft 1s infinite;
}

.card-holder .card .read i,
.card-holder .card .read a {
  color: var(--main-color);
  font-weight: 900;
}

/* Gallery */

#gallery {
  background-color: #ECECEC;
}

#gallery .img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
}

#gallery .img-container .img {
  border: 15px solid white;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

#gallery .img-container .img img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

#gallery .img-container .img:hover img {
  scale: 1.1;
  rotate: 5deg;
}

#gallery .img-container .img::after {
  content: '';
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}


#gallery .img-container .img:hover::after {
  animation: flashing 0.5s linear;
}

@keyframes flashing {

  0%,
  50% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}